<!DOCTYPE html>
<html lang="en">
    <head>
        <title>{{ .Title }} - TodoApp</title>

        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0, user-scalable=0', shrink-to-fit=no">
        <meta content="width=device-width, initial-scale=1" name="viewport">
        <meta content="{{ .Title }}" property="og:title">
        <meta content="{{ .Title }}" property="twitter:title">
        <link rel="stylesheet" href="/static/light.css">
        <style>
            body {
                font-size: 4em;
            }
        </style>
        <script>
            function sendCheck(event) {
                let id = event.target.getAttribute("id")
                var xhr = new XMLHttpRequest();
                xhr.open("POST", '/checkTodo', true);
                xhr.setRequestHeader("Content-Type", "application/x-www-form-urlencoded");
                xhr.send("id=" + id + "&checked=" + event.target.checked);
            }
        </script>
    </head>
    <body>
        <h1>Todos</h1>
        <table>
            {{ range .Todos}}
                <tr>
                    {{if .Checked}}
                        <td><input type="checkbox"  checked id="{{.ID}}"/></td>
                    {{else}}
                        <td><input type="checkbox" id="{{.ID}}"/></td>
                    {{end}}
                    <td>{{.Text}}</td>
                </tr>
            {{end}}
            <tr>
                <td colspan="2">
                    <form action="/" method="post">
                        <input type="text" minlength="2" name="text">
                    </form>
                </td>
            </tr>
        </table>
    </body>
    <script>
        var checkbox = document.querySelectorAll('input[type=checkbox]');
        checkbox.forEach((node) => {
            node.addEventListener('click', sendCheck)
        })

    </script>
</html>

