<!DOCTYPE html>
<html lang="en">
    <head>
        <title>{{ .Title }} - TodoApp</title>

        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0, user-scalable=0', shrink-to-fit=no">
        <meta content="width=device-width, initial-scale=1" name="viewport">
        <meta content="{{ .Title }}" property="og:title">
        <meta content="{{ .Title }}" property="twitter:title">
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/water.css@2/out/light.css">
        <style>
            body {
                font-size: 4em;
            }
        </style>
    </head>
    <body>
        <h1>Todos</h1>
        <table>
            {{ range .Todos}}
                <tr>
                    {{if .Checked}}
                        <td><input type="checkbox"  checked/></td>
                    {{else}}
                        <td><input type="checkbox"/></td>
                    {{end}}
                    <td>{{.Text}}</td>
                </tr>
            {{end}}
            <tr>
                <td><input type="checkbox" /></td>
                <td>Acheter du lait</td>
            </tr>
        </table>
    </body>
</html>

